@{
    ViewData["Title"] = "Users";
}
@model RtfWebApp.Models.View.SolutionViewModel

<script src="~/js/amcharts/amcharts.js"></script>
<link href="~/css/user.css" type="text/css" rel="stylesheet" />

<h3>@Model.Name</h3>
<a target="_blank" href="@Url.Action("FindEmployees","Solution", new { id = Model.Id })" >Найти исполнителей</a>
<h3>&nbsp;</h3>
<div class="row">
    <div class="col-lg-2">
        <h4>Требуемые навыки:</h4>
    </div>
    <div class="col-lg-10">
        @foreach(var skil in Model.Skills)
        {
        <div class="row">
            <div class="col-lg-3">
                @skil.Name
            </div>
        </div>
        }
    </div>
</div>