@{
    ViewData["Title"] = "Main";
}
<div class="container container-fluid">
    <br/>
    <div class="row ">
        <div class="col-lg-1"><a class="btn btn-primary" href="@Url.Action("Users", "Home")">Users</a></div>
        <div class="col-lg-1"><a class="btn btn-primary" href="@Url.Action("Projects", "Home")">Projects</a></div>
        <div class="col-lg-1"><a class="btn btn-primary" href="@Url.Action("Reports", "Home")">Reports</a></div>
        <div class="col-lg-1"><a class="btn btn-primary" href="@Url.Action("SendFeedback", "Home")">SendFeedback</a></div>
    </div>
</div>