CREATE VIEW V_EMPLOYEESRATES
AS
SELECT	
	SUB.EMPLOYEEID,
	E.[NAME] EMPLOYEENAME,
	SK.[NAME] AS SKILLTITLE,
	SUB.SKILLID,
	SUB.RATECOUNT,
	SUB.TOTALRATE,
	DBO.GETTANH((SUB.RATECOUNT+0.0)/100.0) * SUB.RATE / 10 AS WEIGHT,
	SUB.RATE
FROM
(
SELECT 
	RAT.EMPLOYEEID,
	RAT.SKILLID,
	SUM(RAT.RATE) AS TOTALRATE,
	SUM(RAT.WEIGHT) AS TOTALWEIGHT,
	SUM(RAT.RATE*RAT.WEIGHT)/SUM(RAT.WEIGHT) AS RATE,
	COUNT(RAT.RATE) AS RATECOUNT
FROM DBO.EMPLOYEES EMP
INNER JOIN DBO.RATINGS RAT ON EMP.ID = RAT.EMPLOYEEID
GROUP BY RAT.EMPLOYEEID, RAT.SKILLID

) SUB
INNER JOIN DBO.SKILLS SK ON SK.ID = SUB.SKILLID
INNER JOIN DBO.EMPLOYEES E ON SUB.EMPLOYEEID = E.ID