.profile {
    width: 200px;
    height: 200px;
    border: solid 1px gray;
    border-radius: 50%;
    background-position: center center;
    background-origin: content-box;
    display: block;
    background-repeat: no-repeat;
}
.profile-row {
    width: 30px;
    height: 30px;
    display: inline-block;
    background-size: 100% 100%;
    margin-bottom: 10px;
}

.profile-1 { background-image: url('../Images/Faces/Face (1).jpg'); }
.profile-2 {
    background-image: url('../Images/Faces/Face (2).jpg');
}
.profile-3 {
    background-image: url('../Images/Faces/Face (3).jpg');
}

.profile-4 {
    background-image: url('../Images/Faces/Face (4).jpg');
}
.profile-5 {
    background-image: url('../Images/Faces/Face (5).jpg');
}
.profile-6 {
    background-image: url('../Images/Faces/Face (6).jpg');
}

.profile-7 {
    background-image: url('../Images/Faces/Face (7).jpg');
}
.profile-8 {
    background-image: url('../Images/Faces/Face (8).jpg');
}
.profile-9 {
    background-image: url('../Images/Faces/Face (9).jpg');
}
.profile-0 {
    background-image: url('../Images/Faces/Face (9).jpg');
}
